<section>
  <img src="assets/img/profile/file.png" alt="Profilbild" />
  <div class="content-am">
    <div>
      <h4> {{'main_content.about_me.title' | translate}}</h4>
      <div class="content-container">
        <h3>{{'main_content.about_me.headline' | translate}}</h3>
        <span>{{'main_content.about_me.text' | translate}}
        </span>
        <div class="description" *ngFor="let description of descriptions">
          <img src="assets/img/profile/{{ description.image }}.png" alt="" />
          <span>{{ description.text | translate }}</span>
        </div>      
      </div>
    </div>
  </div>
</section>
