@import "./../../styles.scss";

section {
  @include dFlex($jc:space-between);
  min-height: 100vh;
  padding: 112px;
  box-sizing: border-box;
  gap: 5%;
  >img{
    object-fit: contain;
    align-self: flex-start;
    border-radius: 30px;
    width: 50%;
  }
}

.description{
    @include dFlex($fd:unset, $g:24px, $ai:flex-start);
    padding-bottom: 16px;
    
}

.content-am{
    align-self: flex-end;
}


@media screen and (max-width: 1350px) {
  section {
    padding: 64px;
  }
}

@media screen and (max-width: 960px) {
  section{
    flex-direction: column;
    padding: 16px ;
    
    >img{
      width: 100%;
      padding-bottom: 32px;
    }
  }
}

@media screen and (max-width: 425px) {
  .description{
    >span{
      font-size: 14px;
    }
  }

}