<section>
  <h4>{{ 'main_content.projects.title' | translate }}</h4>
  <h3>{{ 'main_content.projects.headline' | translate }}</h3>
  <p> {{ 'main_content.projects.text' | translate }}</p>

  <div class="project-list" *ngFor="let project of projects; let index = index">
    <button
      (mouseenter)="hoverButton(index)"
      (mouseleave)="noHover()"
      (click)="openDialog(index)"
    >
      <span>
        {{ project.title }}
        <img
          *ngIf="hoverIndex === index"
          src="assets/img/portfolio/arrow_outward.png"
          alt=""
      /></span>

      <div class="d-flex separator">
        @for (skill of project.codeLanguage; track skill; let i = $index) {
        <div>{{ skill }}</div>
        @if(i <= project.codeLanguage.length - 2){
        <div class="green-separator"></div>
        } }
      </div>
    </button>
    <div class="preview" *ngIf="hoverIndex === index && screenWidth > 960">
      <img
        class="background-preview"
        src="assets/img/portfolio/background.png"
        alt=""
      />
      <img class="preview-img" src="assets/img/portfolio/{{ project.image }}_cover{{project.format}}" alt="" />
    </div>
  </div>
  <app-project-dialog  [currentIndex]="currentIndex" [projects]="projects" *ngIf="showDialog" (addDialogClosed)="showDialog = $event"></app-project-dialog>
</section>
