@import "./../../styles.scss";

@mixin inputFields() {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: #3dcfb6;
  &::placeholder {
    color: #3dcfb6;
  }
}

section {
  min-height: 100vh;
  @include dFlex($ai: flex-start, $g: 10%, $jc: space-between);
  padding: 112px;
  box-sizing: border-box;
  position: relative;
}

form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  > div {
    @include dFlex($fd: column, $g: 10px, $ai: flex-start);
    padding: 32px;
    border-top: rgba(61, 207, 183, 0.5) 1px solid;
    > input {
      @include inputFields();
      width: 100%;
    }
    > textarea {
      @include inputFields();
      display: flex;
      align-items: center;
      resize: vertical;
      width: 100%;
    }
    > img {
      position: relative;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > button {
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 12px 24px;
    box-sizing: border-box;
    width: fit-content;
    align-self: center;
    position: relative;
    overflow: hidden;
    > span {
      position: relative;
    }
    &:hover {
      color: #3dcfb6;
      border-color: #3dcfb6;
      > span {
        color: #3dcfb6;
        cursor: pointer;
      }
    }
  }
}

.invalid {
  color: #ec7b7bcc;
}

.terms {
  background-color: transparent;
  border: none;
  cursor: pointer;
  > img:hover {
    background-color: rgba(61, 207, 183, 0.4);
    border-radius: 100%;
  }
}

.submit-succses {
  position: fixed;
  left: 25%;
  top: 25%;
  background-color: #1c1c1c;
  border: 1px solid #3dcfb6;
  width: 50%;
  height: 50%;
  @include dFlex($fd: column);
  z-index: 9999;
  border-radius: 30px;
  text-align: center;
  > p {
    font-size: 32px;
    margin-bottom: 24px;
    color: #3dcfb6;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
  }
  button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 24px;
    font-size: 18px;
    margin-top: 48px;
    &:hover {
      cursor: pointer;
      border-color: #3dcfb6;
      color: #3dcfb6;
    }
  }
}

@media screen and (max-width: 1350px) {
  section {
    padding: 64px;
  }
}

@media screen and (max-width: 960px) {
  section {
    flex-direction: column;
    padding: 16px;
    > img {
      width: 100%;
      padding-bottom: 32px;
    }
  }
  form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .submit-succses{
    left: 0;
    width: 100%;
    >p{
      font-size: 18px;
    }
    >button{
      font-size: 14px;
      margin-top: 8px;
    }
  }
}
