@import "./../../styles.scss";

@mixin inputFields() {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: #3dcfb6;
  &::placeholder {
    color: #3dcfb6;
  }
}

section {
  min-height: 100vh;
  @include dFlex($ai: flex-start, $g: 10%, $jc: space-between);
  padding: 112px;
  box-sizing: border-box;
}

form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  > div {
    @include dFlex($fd: column, $g: 10px, $ai: flex-start);
    padding: 32px;
    border-top: rgba(61, 207, 183, 0.5) 1px solid;
    > input {
      @include inputFields();
    }
    > textarea {
      @include inputFields();
      display: flex;
      align-items: center;
      resize: vertical;
    }
    > img {
      position: relative;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > input {
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 12px 24px;
    box-sizing: border-box;
    width: fit-content;
    align-self: center;
    &:hover{
      color:#3dcfb6;
      border-color: #3dcfb6;
    }
  }
}

.invalid{
  color: #EC7B7BCC;
}
