<section (click)="this.addDialogClosed.emit(false)">
  <article (click)="$event.stopPropagation()">
    <div class="project-content">
      <h6>01</h6>
      <span class="title">Join</span>
      <span class="headline">What is this project about?</span>
      <span>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.</span
      >
      <div>
        <img src="" alt="languange" />
        <span>CSS</span>
      </div>
      <div class="project-links">
        <a href=""
          >Github
          <img src="assets/img/portfolio/arrow_outward_green.png" alt=""
        /></a>
        <a href=""
          >Live Test
          <img src="assets/img/portfolio/arrow_outward_green.png" alt=""
        /></a>
      </div>
    </div>
    <div class="project-image">
        <button (click)="this.addDialogClosed.emit(false)"><img src="assets/img/portfolio/close_small.png" alt=""></button>
        <img src="assets/img/portfolio/join.png" alt="" />
        <button>Next project <img src="assets/img/portfolio/arrow_forward_green.png" alt=""></button>
    </div>
    
  </article>
</section>
