@import "./../../../styles.scss";

@mixin firaCode($w: 700, $fs: 64px) {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: $w;
  font-size: $fs;
}

section {
  animation: slideIn 500ms forwards ease-in-out;
  position: fixed;
  padding: 112px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 999;
  @include dFlex();
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

h6 {
  font-size: 128px;
  color: #3dcfb6;
}
article {
  @include dFlex($jc: space-between, $ai: start);
  background: linear-gradient(to top right, #1c1c1c, 80%, #08463b);
  padding: 32px;
  box-sizing: border-box;
  border-radius: 30px;
  height: 100%;
}

.title {
  @include firaCode();
}

.headline {
  @include firaCode($fs: 24px);
  color: #3dcfb6;
}

.project-content {
  @include dFlex($fd: column, $ai: start, $jc: space-between);
  height: 100%;
  width: 50%;
  padding: 32px;
  box-sizing: border-box;
}

.project-image {
  @include dFlex($fd: column, $ai: end, $jc: space-between);
  height: 100%;
  width: 50%;
  > button {
    font-size: 18px;
    font-weight: 400;
    color: #3dcfb6;
    cursor: pointer;
    background-color: transparent;
    border: none;
    @include dFlex($g: 16px);
  }
  > img {
    width: 100%;
  }
}

.project-links {
  @include dFlex($g: 24px);
  > a {
    @include dFlex($g: 8px);
    padding: 12px;
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid #ffffff;
    &:hover {
      border-color: #3dcfb6;
      color: #3dcfb6;
      > img {
        transition-duration: 300ms;
        transform: translateX(3px) translateY(-3px);
      }
    }
  }
}

.used-skills{
  @include dFlex($g:4px); 
}

@media screen and (max-width: 900px) {
  section{
    padding: 0;
  }
  article{
    flex-direction: column-reverse;
    border-radius: unset;
    padding: 0;
  }
  .project-content{
    width: 100%;
    padding: 0 12px 32px 12px;
  }
  .project-image{
    width: 100%;
    height: auto;
    padding: 12px 12px 0 12px;
    box-sizing: border-box;
    >img{
      width: fit-content;
      object-fit: scale-down;
      align-self: center;
      max-height: 130px;
   }
  }
  h6{
   font-size: 64px;
  }
  .title{
    font-size: 32px;
  }
  .headline{
    font-size: 16px;
  }
  .next-project{
    position: absolute;
    bottom: 5px;
  }
 }

 @media screen and (max-width: 425px) {
  h6{
    font-size: 32px;
  }
  .title{
    font-size: 18px !important;
  }
  .project-content{
    >span{
      font-size: 14px;
    }
  }
 }