@import './../../../../styles.scss';

section{
  display: flex;
  justify-content: space-between;
  padding: 24px 42px;
  position: sticky;
  top: 0;
}
.nav-desktop{
  display: flex;
  gap: 40px;
  >a{
    text-decoration: none;
  }
 
}

.language{
  border: 1px solid #3DCFB6 ;
  border-radius: 100px;
  display: flex;
  >button{
    font-size: 500;
    background-color: transparent;
    border: none;
    border-radius: 100px;
  }
}