@import "./../../../../styles.scss";

section {
  @include dFlex($jc:space-between);
  padding: 24px 42px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, black, 20%, rgba(0, 0, 0, 0.1));
  z-index: 999;
}

.nav-desktop {
  display: flex;
  gap: 40px;
  > a {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
  }
}

.language {
  border: 1px solid #3dcfb6;
  border-radius: 100px;
  display: flex;
  > button {
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    color: rgba(61, 207, 183, 0.50);
  }
}

.logo{
  >img{
    object-fit: cover;
    height: 48px;
  }
}

.chosen{
  background-color: #3dcfb6 !important;
  color: white !important;
}