@import "./../../styles.scss";

section {
  display: flex;
  gap: 30px;
  padding: 112px;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  background: radial-gradient( farthest-side at left,#08463B4D 30%, #1C1C1C 100%);
}

.skilltree {
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 3%;
}

.skill {
  width: 80px;
  text-align: center;
  height: fit-content;
  @include dFlex($g: 10px, $fd: column);
  > span {
    display: flex;
    align-items: start;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
  }
}
