@import "./../../styles.scss";

section {
  display: flex;
  gap: 30px;
  padding: 112px;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: start;
  background: radial-gradient(
    farthest-side at left,
    #08463b4d 30%,
    #1c1c1c 100%
  );
}

.skilltree {
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  align-items: center;
  flex: auto;
}

.skill {
  position: relative;
  width: 25%;
  height: 95px;
  text-align: center;
  margin-bottom: 48px;
  @include dFlex($g: 10px, $fd: column, $jc: space-between);
  > span {
    display: flex;
    align-items: start;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
  }
  > img {
    width: 65px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.popover {
  position: absolute;
  transform: translateY(-100%);
  left: 35%;
  background-color: #ffffff;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  span {
    word-break: keep-all;
    box-sizing: border-box;
    color: #3dcfb6;
  }
  > div {
    @include dFlex($g:10px);
  }
}

.popover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  width: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.content-container {
  > a {
    @include animatetLinks();
    padding: 12px;
  }
}

@media screen and (max-width: 1350px) {
  section {
    padding: 64px;
  }
}

@media screen and (max-width: 960px) {
  section {
    flex-direction: column;
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .popover{
    left: 20%;
  }
}

@media screen and (max-width: 425px) {
  section {
    margin-bottom: 32px;
  }
  .link-contact {
    width: max-content;
    padding: 2px 16px;
    > span {
      font-size: 14px;
    }
  }
  .skilltree {
    align-items: center;
  }
  .skill {
    width: 33%;
    height: 60px;
    box-sizing: content-box;
    > span {
      font-size: 14px;
      word-break: keep-all;
    }
    > img {
      width: 40px;
    }
  }
  .popover {
    min-width: 150px;
    left: 15%;
    
    > span {
      font-size: 14px;
      text-align: start;
    }
  }
}
