.skill-section{
    background: radial-gradient(
        farthest-side at left,
        #08463b4d 30%,
        #1c1c1c 100%
      );
      
}

.center{
    display: flex;
    justify-content: center;
}