@import './../../../../styles.scss';

section{
 @include dFlex($jc:space-between);
 padding: 112px;
 >div{
    @include dFlex($fd:column, $ai:start);
    >img{
        height: 48px;
    }
 }
}

@media screen and (max-width: 960px) {
    section{
        padding: 16px;
    }
}