<section>
  <article>
    <div>
      <a href="#" class="logo"
        ><img
          (mouseenter)="hoverLogo = true"
          (mouseleave)="hoverLogo = false"
          [src]="
            hoverLogo
              ? 'assets/img/navbar/Logo/SVG/logo_hover.svg'
              : 'assets/img/navbar/Logo/SVG/logo.svg'
          "
          alt="Logo"
      /></a>
      <span>Web Developer</span>
      <span>Chemnitz Germany</span>
    </div>
    <div *ngIf="screenWidth > 900" class="copyright-name">
      &copy; Philipp Lötzsch 2024
    </div>
    <div >
      @for (link of links; track link; let i = $index) {
      <div style="position: relative;">
        <a (mouseenter)="hoverIn(i)" (mouseleave)="hoverOut()" class="link" href="{{ link.link }}" target="{{ link.target }}">{{ link.name }}</a>
        <div style="position: absolute; left: -20px; top: 0;" *ngIf="hoverIndex === i">
          <img src="assets/img/navbar/SVG/hover_point.svg" alt="" />
        </div>
      </div>
      }
    </div>
  </article>
  <div *ngIf="screenWidth <= 900" class="copyright-name">
    &copy; Philipp Lötzsch 2024
  </div>
</section>
