<section>
  <div class="df-col">
    <h2>Frontend Developer</h2>
    <h1>Philipp Lötzsch</h1>
    <div class="landing-links">
      <a href="#" (mouseover)="startAnimation()"> <span>Check my work</span></a>
      <a href="#"><span>Contact me</span></a>
    </div>
  </div>
  <div class="marquee-links">
    <div class="df-gap">
      <a class="next-page" href="#"><img src="assets/img/links/Arrow_next.png" alt=""/></a>
      <div class="line green"></div>
    </div>
    <div class="df-gap ">
        <a href="{{socialMedia.link}}" *ngFor="let socialMedia of socialMedias"><img src="assets/img/sozial_media/{{ socialMedia.img }}_default.png" alt=""></a>
        <div class="line white"></div>
    </div>
  </div>
  <div class="marquee">
    <span *ngFor="let text of ['Available for remote work' , 'Frontend Developer', 'Based in Chemnitz', 'open to work']">{{ text }}</span>
  </div>
</section>
