@import "./../../styles.scss";

section {
  min-height: 100vh;
  @include dFlex($fd: column);
  background: linear-gradient(to top right, #1c1c1c, 80%, #08463b);
  background-size: cover;
  width: 100%;
  position: relative;
  top: -100px;
  overflow: hidden;
}

h1 {
  font-size: 128px;
  cursor: default;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  color: #d9d9d9;
  font-family: "Fira Code";
  cursor: default;
}

.landing-links {
  display: flex;
  gap: 48px;
  padding-top: 30px;
  box-sizing: border-box;

  > a {
    @include animatetLinks();
    padding: 12px 24px;
  }
}

.next-page {
  border-radius: 32px;
  padding: 12px;
  border: 1px solid #3dcfb6;

  > img {
    position: relative;
    animation: moveArrow 1s infinite ease-in-out;
  }
}

@keyframes moveArrow {
  0% {
    top: 0;
  }
  50% {
    top: 13px;
  }
  100% {
    top: 0;
  }
}

.marquee-links {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.line {
  height: 100%;
  width: 1px;
  background-color: white;
}

.green {
  background-color: #3dcfb6;
}

.marquee {
  width: 100%;
  position: absolute;
  bottom: 0;
  @include dFlex($g: 50px);
  background-color: rgba(85, 78, 78, 0.5);
  padding: 12px 32px;
  transform-origin: left bottom;
  transform: rotate(-3deg);
  overflow: hidden;
 }

.text-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-right: 50px;
}

.df-gap {
  @include dFlex($fd: column, $g: 10px);
}

.desktop-mail {
  transform: rotate(-90deg) translatex(50%);
  max-width: 40px;
}

.mail-link {
  transform: rotate(-90deg) translateX(140px);
  width: max-content;
  &:hover {
    color: #3dcfb6;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 76px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  .landing-links {
    padding-top: 12px;
    gap: 24px;
    > a {
      padding: 8px 12px;
      > span {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  section {
    top: -76px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 16px;
  }

  .next-page {
    > img {
      width: 100% !important;
      object-fit: cover;
    }
  }

  .df-gap {
    gap: 0px;
    > a {
      > img {
        width: 24px;
      }
    }
  }
}
