section {
  position: relative;
  left: 0;
  width: 74vw;
  height: 100%;
  padding-top: 24px;
  box-sizing: border-box;
  overflow:hidden ;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > a {
    padding-right: 24px;
  }
}
.change-language {
  color: #fffdfd;
  > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fffdfd;
  }
}

.thats-me {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #b5e93b;
  > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
}

.my-name {
  position: relative;
  bottom: -20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 100px;
}

h2 {
  color: transparent;
  -webkit-text-stroke: 0.1px #b5e93b;
  font-size: 48px;
}
