/* fira-code-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/font/fira-code-v22-latin/fira-code-v22-latin-300.woff2') format('woff2'); 
}
/* fira-code-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/fira-code-v22-latin/fira-code-v22-latin-regular.woff2') format('woff2'); 
}
/* fira-code-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/fira-code-v22-latin/fira-code-v22-latin-500.woff2') format('woff2'); 
}
/* fira-code-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/font/fira-code-v22-latin/fira-code-v22-latin-600.woff2') format('woff2'); 
}
/* fira-code-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/fira-code-v22-latin/fira-code-v22-latin-700.woff2') format('woff2'); 
}

/* karla-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/karla-v31-latin/karla-v31-latin-regular.woff2') format('woff2'); 
}
/* karla-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/karla-v31-latin/karla-v31-latin-500.woff2') format('woff2'); 
}
/* karla-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/font/karla-v31-latin/karla-v31-latin-600.woff2') format('woff2'); 
}
/* karla-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/karla-v31-latin/karla-v31-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/font/karla-v31-latin/karla-v31-latin-800.woff2') format('woff2'); 
}

@mixin dFlex($jc:center, $ai:center, $fd:unset, $g:0px){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}

@mixin animatetLinks(){
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #ffffff;
  border-radius: 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &:hover {
    border-color: #3dcfb6;
    > span {
      color: #3dcfb6;
      cursor: pointer;
      position: relative;
    }
  }
 
}

* {
  margin: 0;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #1C1C1C;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3dcfb6;
    border-radius: 5px;
  }

  color: #FFFFFF;
  scroll-behavior: smooth;
  hyphens: auto;
  word-break: break-word;
}


body{
  background-color: #1C1C1C; 
}

span{
  cursor: default;
}

a{
  text-decoration: none
}

h3{
  font-size: 64px;
  font-weight: 700;
  color: #3DCFB6;
  font-family: 'Fira Code';
  font-weight: 700;
  box-sizing: border-box;
  cursor: default;
}

h4{
  font-size: 24px;
  color: #3DCFB6;
  padding: 20px 0;
  font-weight: 500;
  cursor: default;
}

.df-col{
  @include dFlex($fd:column)
}

.d-flex{
  @include dFlex()
}

.content-container{
  background-color: hsla(170, 60%, 53%, 0.08);
  border-radius: 30px;
  border: 1px solid #3DCFB6;
  word-break: break-all;
  padding: 32px;
  @include dFlex($g:32px,$fd:column, $ai:start, $jc:start);
}


@media screen and (max-width: 425px) {
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 16px;
  }
  .content-container{
    padding: 12px 16px;
    >span{
      font-size: 14px;
    }
  }
}
